<td>{{index + 1}}</td> 
<td>{{interview.candidateId}}</td>
<td class="fw-semibold text-primary">{{ interview.candidateName }}</td>
<td>{{ interview.interviewTypeName }}</td>
<td>{{ interview.dateOfInterview}}</td>
<td class="d-flex justify-content-center">
    <button class="btn btn-sm btn-outline-primary d-flex align-items-center gap-1"
        (click)="openFile(interview.filepath)">
        <i class="bi bi-file-earmark-text"></i> View
    </button>
</td>
<td>
    <button class="btn btn-sm btn-dark" (click)="onClickInterview()">Marks</button>
</td>