.footer {
  background: #0d1117; /* dark tone */
  color: #fff;
}

.text-teal {
  color: white;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-link:hover {
  color: #4fd1c5;
  padding-left: 4px;
}

hr {
  opacity: 0.2;
}
